[user]
	email = michaelszewczak@gmail.com
	name = Michal Szewczak
[credential]
[push]
	default = current
[credential]
	helper = store
[merge]
	tool = code
[core]
	editor = /usr/bin/vim
[mergetool "code"]
	cmd = "code "
	trustExitCode = true
[mergetool]
	keepBackup = false
